html {
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
}

body {
    margin-bottom: 70px;
}

/*
Menu
*/
#menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

#menu.navbar-default {
    font-size: 15px;
    background-color: rgba(51, 51, 51, 1);
    border-bottom-width: 0px;
}

#menu.navbar-default .navbar-nav>li>a {
    color: rgba(181, 181, 181, 1);
    background-color: rgba(51, 51, 51, 1);
}

#menu.navbar-default .navbar-nav>li>a:hover,
#menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(55, 192, 251, 1);
}

#menu.navbar-default .navbar-nav>.active>a,
#menu.navbar-default .navbar-nav>.active>a:hover,
#menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(55, 192, 251, 1);
}

#menu.navbar-default .navbar-toggle {
    border-color: #37c0fb;
}

#menu.navbar-default .navbar-toggle:hover,
#menu.navbar-default .navbar-toggle:focus {
    background-color: #37c0fb;
}

#menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #37c0fb;
}

#menu.navbar-default .navbar-toggle:hover .icon-bar,
#menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #333333;
}

.header-line {
	height: 10px;
	width: 100%;
	background-color: #37c0fb;
	margin-top: -20px;
}

@media (min-width: 768px) {
  .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .navbar-nav > li {
    float: none;
    display: inline-block;
  }
  .navbar-nav > li.navbar-right {
    float: right !important;
  }
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    margin: auto;
}

@media (min-width: 768px) {
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  		margin-left: -400px;
	}
}

.active {
	font-weight: bold;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: -1px;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ccc;
    }
}

#menuHeader {
    height: 100px;
    text-align: center;
}

#menuHeader h3 {
    padding-top: 14px;
}

.logo {
    float: left;
    margin-right: -229px;
    margin-left: 95px;
    margin-top: 10px;
    max-height: 80px;
}

#menuHeader a {
    moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: -0.025em;
    border: 0;
    color: inherit;
}

#menuHeader a:hover {
    moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    color: #37c0fb;
    text-decoration: none;
}

/*
Icon
*/
.icon {
    position: relative;
    text-decoration: none;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {
    display: none;
}

.icon.major {
    text-align: center;
    cursor: default;
    background-color: #37c0fb;
    color: white;
    border-radius: 100%;
    display: inline-block;
    width: 6em;
    height: 6em;
    line-height: 6em;
    box-shadow: 0 0 0 7px white, 0 0 0 8px #e0e0e0;
    margin: 0 0 2em 0;
}

.icon.major:before {
    font-size: 36px;
}

/*
Footer
*/
.footer {
    position: absolute;
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    text-align: center;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 16px;
}

.footer a {
    text-decoration: none;
}

/*
Chatbox
*/
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    word-wrap: break-word;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

#panel-body
{
    overflow-y: scroll;
    height: 545px;
    background-image: url("/images/logoChatbox.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

#panel-body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F1F1F1;
}

#panel-body::-webkit-scrollbar
{
    width: 12px;
    background-color: #F1F1F1;
}

#panel-body::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #BCBCBC;
}

.avatar {
    height: 50px;
    width: 50px;
}

.panel-primary {
    border-color: #37C0FB;
}

.panel-primary>.panel-heading {
    background-color: #37C0FB;
    border-color: #37C0FB;
}

/*
Content
*/
.headerImage {
    width: 100%;
}

h1 {
    font-size: 30px;
}

.infoDiv {
    margin-right: 5px;
}

.infoDiv1 {
    margin-right: -10px;
}

.infoDiv a {
    text-decoration: none; color: #000
}

.infoDiv1 a {
    text-decoration: none; color: #000
}

.inloggenDiv {
    margin-top: 20px;
}

.inloggenDiv h1 {
    margin-bottom: 50px;
    text-align: center;
}

.errorImg {
    margin: 0 auto;
}

.sponsorenDiv {
    text-align: center;
}

.footer .fa {
    margin-top: -15px;
    font-size: 30px;
}

.grayBar {
    background-color: #f1f1f1;
    margin-bottom: 20px;
}

@media (max-width: 992px) {
    .logo{
        margin-left: 6px;
        margin-top: -10px;
    }
}

#timer {
   text-align: right;
    display: block;
    word-spacing: -11px;
}

#remaining p {
    margin-top: 15px;
    margin-bottom: 0px;
}

.bestuurDiv img {
    float: left;
    margin-right: 10px;
    max-width: 125px;
    height: 150px;
}

.bestuurDiv h3 {
    margin-top: -10px;
}

.commissieDiv h3 {
    margin-top: -10px;
}

.commissieDiv {
    min-height: 200px;
}

.modal {
    overflow: auto;
    color: #333;
}

.galerijImg {
    overflow: hidden;
    padding-right: 0px;
    padding-left: 0px;
    max-height: 200px;
}

.galerijBackImg {
    background-position: center center;
    background-size: cover;
    height: 200px;
    width: 100%;
}

#links {
    float: left;
}

.fa-chevron-left {
    font-size: 25px;
}

.blueimp-gallery>.slides>.slide>.slide-content {
    width: null;
}