Options -Indexes

php_value upload_max_filesize 20M
php_value post_max_size 500M

# Turn Rewrite Engine On
RewriteEngine on

# custom 404 page
ErrorDocument 404 /sub-pagina/404.php

# custom 403 page
ErrorDocument 403 /sub-pagina/403.php

# NC makes the rule non case sensitive
# L makes this the last rule that this specific condition will match

# Rewrite for index.php
RewriteRule ^home index.php [NC,L]

# Rewrite for sub-pagina's
RewriteRule ^activiteiten sub-pagina/activiteiten.php [NC,L]

RewriteRule ^competitie sub-pagina/competitie.php [NC,L]

RewriteRule ^documenten sub-pagina/documenten.php [NC,L]

RewriteRule ^inloggen sub-pagina/inloggen.php [NC,L]

RewriteRule ^nieuws sub-pagina/nieuws.php [NC,L]

RewriteRule ^over-de-club sub-pagina/over-de-club.php [NC,L]

RewriteRule ^sponsoren sub-pagina/sponsoren.php [NC,L]

RewriteRule ^bestuur sub-pagina/bestuur.php [NC,L]

RewriteRule ^commissies sub-pagina/commissies.php [NC,L]

RewriteRule ^contact sub-pagina/contact.php [NC,L]

RewriteRule ^lid-worden sub-pagina/lid-worden.php [NC,L]

RewriteRule ^kantinedienst sub-pagina/kantinedienst.php [NC,L]

RewriteRule ^standen sub-pagina/standen.php [NC,L]

RewriteRule ^teams sub-pagina/teams.php [NC,L]

RewriteRule ^trainingstijden sub-pagina/trainingstijden.php [NC,L]

RewriteRule ^uitslagen sub-pagina/uitslagen.php [NC,L]

RewriteRule ^uitslag-invoeren sub-pagina/uitslagen-invoeren.php [NC,L]

RewriteRule ^wedstrijdverslagen sub-pagina/wedstrijdverslagen.php [NC,L]

RewriteRule ^wedstrijdschema sub-pagina/wedstrijdschema.php [NC,L]

RewriteRule ^fotogalerij sub-pagina/fotogalerij.php [NC,L]

RewriteRule ^album/([0-9a-zA-Z_-]+.*) sub-pagina/album.php?name=$1 [NC,L]

RewriteRule ^uitloggen sub-pagina/uitloggen.php [NC,L]

RewriteRule ^profiel sub-pagina/profiel.php [NC,L]

RewriteRule ^artikel/([0-9a-zA-Z_-]+.*) sub-pagina/nieuwsArtikel.php?artikelName=$1 [NC,L]

RewriteRule ^activiteit/([0-9a-zA-Z_-]+.*) sub-pagina/activiteit.php?activiteitName=$1 [NC,L]

RewriteRule ^info sub-pagina/info.php [NC,L]

RewriteRule ^ideeenbus sub-pagina/ideas.php [NC,L]

RewriteRule ^verslag/([0-9a-zA-Z_-]+.*) sub-pagina/verslag.php?report=$1 [NC,L]