# Turn Rewrite Engine On
RewriteEngine on

# custom 404 page
ErrorDocument 404 /404.php

# custom 403 page
ErrorDocument 403 /403.php

# NC makes the rule non case sensitive
# L makes this the last rule that this specific condition will match

# Rewrite for index.php
RewriteRule ^home index.php [NC,L]

# Rewrite for sub-pagina's
RewriteRule ^activiteiten sub-pagina/activiteiten.php [NC,L]

RewriteRule ^competitie sub-pagina/competitie.php [NC,L]

RewriteRule ^documenten sub-pagina/documenten.php [NC,L]

RewriteRule ^inloggen sub-pagina/inloggen.php [NC,L]

RewriteRule ^nieuws sub-pagina/nieuws.php [NC,L]

RewriteRule ^sponsoren sub-pagina/sponsoren.php [NC,L]

RewriteRule ^vereniging sub-pagina/vereniging.php [NC,L]