# Turn Rewrite Engine On
RewriteEngine on

# NC makes the rule non case sensitive
# L makes this the last rule that this specific condition will match

# Rewrite for index.php
RewriteRule ^home index.php [NC,L]

# Rewrite for inloggen.php
RewriteRule ^inloggen sub-pagina/inloggen.php [NC,L]

# Rewrite for activiteiten.php
RewriteRule ^activiteiten sub-pagina/activiteiten.php [NC,L]